@page
@model OmnibusUI.Pages.Bookhouse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<a asp-page="./Search">Looking for a Certain Book?</a>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].authorFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].authorLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].publicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].numPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].avgRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].isDigital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].copiesAvail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authorFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authorLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avgRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDigital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.copiesAvail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.bookID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.bookID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.bookID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
