@page
@model OmnibusUI.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].lastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Author) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.authID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.authID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.authID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
