@page
@model OmnibusUI.Pages.Patron.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].libCardNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].userFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].userLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].booksBorrowed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patron) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.libCardNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booksBorrowed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.patronID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.patronID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.patronID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
